<%- include('../partials/header') %>

<h1>
    <%= bar.name %>
</h1>
<h1>
    <%= bar.location %>
</h1>
<form method="POST" action="/bars/<%= bar.id %>?_method=DELETE">
    <button class="delete" type="submit">Delete</button>
</form>
<hr />

<% bar.beers.forEach(function(beer) { %>
<form action="/bars/<%= bar.id %>/beers/<%= beer.id %>?_method=DELETE" class="list-group-item" method="post">
    <label>
        <%= beer.name %></label>
    <button type="submit" class="btn btn-sm btn-danger">
        Stop Serving
    </button>
</form>
<% }); %>


<main>
    <h3>Add a Beer for this Bar</h3>
    <form method="POST" action="/bars/<%= bar.id %>/beers">
        <select name="beer">
            <% beers.forEach(function(beer) { %>
            <option value="<%= beer.id %>">
                <%= beer.name %>
            </option>
            <% }); %>
        </select>
        <br>
        <br>
        <input type="submit" value="Add Beer">
    </form>
</main>

<%- include('../partials/footer') %>